/* fonts */
@font-face {
  font-weight: 300;
  font-family: "NeutraText";
  src: url("fonts/Neutra\ Text/book.woff") format("woff"), url("fonts/Neutra\ Text/book.woff2") format("woff2");
}

@font-face {
  font-weight: bold;
  font-family: "NeutraText";
  src: url("fonts/Neutra\ Text/bold.woff") format("woff"), url("fonts/Neutra\ Text/bold.woff2") format("woff2");
}

@font-face {
  font-weight: 300;
  font-family: "NeutraDisplay";
  src: url("fonts/Neutra\ Display/titling.woff") format("woff"), url("fonts/Neutra\ Display/titling.woff2") format("woff2");
}

/* reset */
* body {
  font-family: NeutraText;
  font-size: 1.5rem;
}

/* utils */
.bg-cover-center {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hidden {
  visibility: hidden;
}

.video-16by9 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-16by9 video,
.video-16by9 iframe {
    height: 56.25vw;
    width: 177.78vh;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.bg-painting {
  background-image: url(./images/stripe-background.png);
}

.position-absolute-center {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.text-red {
  color: #c1252f;
}

.link-black:hover {
  color: #c1252f;
}

.bg-red {
  background-color: #c1252f; 
}

.bg-light-khaki {
  background-color: #f6e6cd;
}

.bg-light-khaki-2 {
  background-color: #fbf3e8;
}

.bg-light-blue-grey {
  background-color: #d7e1ee;
}

.bg-light-blue-grey-2 {
  background-color: #d9e1ed;
}

.bg-silver{
  background-color: #e2e9e9;
}

.bg-beige {
  background-color: #efe4df;
}

.bg-beige-2 {
  background-color: #e5c5b9;
}

.bg-beige-3 {
  background-color: #faf3e9;
}

.bg-beige-4 {
  background-color: #f1e4de;
}

.bg-light-tan {
  background-color: #f9e6ca;
}

@media only screen and (min-width: 768px) {
  .position-md-absolute {
    position: absolute !important;
  }

  .w-md-50 {
    width: 50% !important;
  }

  .w-md-75 {
    width: 75% !important;
  }

  .w-md-100 {
    width: 100% !important;
  }
}

/* text */
h2 {
  font-size: 3.125rem;
  font-family: NeutraDisplay;
}

h3 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

h4 {
  font-size: 2rem;
}

@media only screen and (max-width: 991px) {
  h2 {
    font-size: 2.5rem;
  }
}

.font-neutra-display {
  font-family: NeutraDisplay;
}

/* header section */
nav {
  top: 0;
  left: 0;
  right: 0;
}

nav img.logo {
  height: auto;
  width: 10rem;
}

nav a.navbar-item {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: #000;
}

.navbar-toggler {
  font-size: 1.5rem;
  border: none;
  padding: 0;
}

@media only screen and (max-width: 991px) {
  nav#navbar {
    transition: background-color 0.25s;
  }
  
  nav#navbar.background {
    background-color: rgba(0, 0, 0, 0.85);
  }

  nav img.logo {
    width: 4rem;
    height: auto;
  }

  nav a.navbar-item {
    font-size: .9rem;
  }
}

/* heading stripe section */
#heading-stripe {
  background-image: url('./images/header-background.jpg');
}

#logo-5-stagioni {
  width: 18rem;
  height: auto;
}

.layer {
  background-color: rgba(0, 0, 0, 0.25);
}

/* two col section */
.two-col-image {
  max-width: 34rem;
  width: 100%;
  height: auto;
}

/* grid section */
.grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: 1fr;
  grid-auto-flow: dense;
}

.tile-squared {
  grid-row: span 2;
  /* padding-bottom: 100%; */
}

.tile-large {
  grid-row: span 2;
  grid-column: span 2;
}

.tile-number {
  font-family: NeutraDisplay;
  font-size: 2.8rem;
}

.grid-tile.tile-squared .text-container {
  max-width: 80%;
}

.tile-landscape .image-container,
.tile-large .image-container {
  min-width: 50%;
}

.tile-squared .tile-number,
.tile-large .tile-number {
  font-size: 4.5rem;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2,1fr);
  }
}

/* media breakpoint down sm */
@media only screen and (max-width: 991px) {
  .grid {
    grid-template-columns: repeat(1,1fr);
  }

  .tile-number {
    font-size: 3rem !important;
  }

  .tile-squared,
  .tile-landscape,
  .tile-large {
    grid-row: span 1;
    grid-column: span 1;
  }

  .grid-tile .text-container {
    max-width: 100%;
  }

  .grid-tile.tile-squared .text-container {
    max-width: 100%;
  }
}

/* footer section */
footer a {
  font-size: .875rem;
  color: black;
  text-decoration: none;
}

footer a:hover {
  color:rgba(0, 0, 0, 0.5)
}

footer a.social-icon {
  font-size: calc(1.2625rem + .15vw);
}